BasedOnStyle: Google
IndentWidth: 4
UseTab: Never
TabWidth: 4
IncludeBlocks: Preserve

BreakBeforeBraces: Custom

BraceWrapping:
  AfterFunction: true       # void f()\n{
  AfterStruct: false        # struct S {
  AfterClass: false         # class C {
  AfterEnum: false
  AfterNamespace: false     # namespace N {
  AfterControlStatement: false  # if (x) {
  AfterCaseLabel: false
  AfterExternBlock: false
  SplitEmptyFunction: true
  SplitEmptyRecord: true

SpacesInParentheses: false
SpacesInSquareBrackets: false
SpaceAfterCStyleCast: false
SpaceBeforeParens: ControlStatements

ReferenceAlignment: Middle
PointerAlignment: Middle

AllowShortIfStatementsOnASingleLine: true
AllowShortLoopsOnASingleLine: true
AllowShortFunctionsOnASingleLine: None

ColumnLimit: 80
ContinuationIndentWidth: 4
MaxEmptyLinesToKeep: 1