menu "esp32-cam Configuration"

        config WIFI_SSID
        string "wifi default ssid"
        default ""
        help
            wifi default ssid

        config WIFI_PASSWORD
        string "wifi default password"
        default ""
        help
            wifi default password

        config BLE_PROV_PREFIX
        string "ble provision wifi service prefix"
        default "esp32-cam"

        config BLE_PROV_PROOF_POSSESSION
        string "proof of possession pin"
        default "abcd1234"


        config WIFI_PROV_BUTTON_GPIO
        int "gpio pin"
        default 0
        help
            long push this key enter wifi provisioning mode.


        config WIFI_PROV_BUTTON_ACTIVE_LEVEL
        int "push level"
        default 0
        help
            long push enter wifi provisioning mode.

endmenu